<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>自动驾驶控制系统</title>
        <link rel="stylesheet" type="text/css" href="/static/autodrive/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/autodrive/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/static/autodrive/css/responsive.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!--引入jquery 不能使用<script /> ,只能使用<script  ></script>-->
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/autodrive/js/tools.js"></script>
<!--    <script src="/static/autodrive/js/websocket.js"></script>-->
    <script src="/static/autodrive/js/http.js"></script>
    <script src="/static/autodrive/js/index.js"></script>

</head>

<!--  onload="onBodyLoad()"-->
<body class=" dashboard">
<div id="container"><!-- Container -->
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="">自动驾驶管理系统</a></h1>
        </div>
        <div id="user-tools">欢迎，<strong id="active_username">{{ group }}: {{ username }}</strong>.  <a href="">修改密码</a> /<a href="logout/">注销</a>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content">

    <div hidden>
        用户名: <input id="username" type="text" value="" required="required">
        密码: <input id="password" type="password" value="" required="required">
        <button id="connectBtn" onclick="connect()" name="connect">连接</button>
        <i id="loginInfo"></i>
        </br>
    </div>
        <input type="button" id="getPathListBtn" value="获取路径列表"> </input>
        pathid: <input type="number" value="0" id="pathid"/>
        <input type="button" id="getPathBtn" value="获取路径点"> </input>

        <input type="button" id="wsTestBtn" value="ws测试"> </input>

    <div>
        数据接收:</br>
        <textarea type="text" id="receive_log" rows="20" cols="180"></textarea></br></br>
        数据发送:</br>
        <textarea type="text" id="send_log" rows="5" cols="180"></textarea>
    </div>

    <div>
        车辆列表:  <input type="button" value="刷新" id="flush_online_cars"></input>
        <div id="cars_list" class="cars_list"/>
    </div>
    </div><!-- END Content -->
</div><!-- END Container -->

<script>

</script>

</body>
</html>