<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>自动驾驶控制系统</title>
<!--        <link rel="stylesheet" type="text/css" href="/static/autodrive/css/base.css">-->
    <link rel="stylesheet" type="text/css" href="/static/autodrive/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/static/autodrive/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/autodrive/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/autodrive/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/autodrive/css/baidumap.css">

    <!--引入jquery 不能使用<script /> ,只能使用<script  ></script>-->
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/autodrive/js/tools.js"></script>
    <script src="/static/autodrive/js/http.js"></script>
    <script src="/static/autodrive/js/index.js"></script>

</head>

<body class="autodrive-mainpage">
<!-- Header -->
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="">自动驾驶管理系统</a></h1>
    </div>
    <div id="user-tools">欢迎，<strong id="active_usergroup">{{ usergroup }}</strong>:
        <strong id="active_username">{{ username }}</strong>.
        <a href="">修改密码</a> /<a href="logout/" id="logoutBtn">注销</a>
    </div>
</div>
<!-- END Header -->
<div id="main_container"><!-- main Container -->
    <div id="menu_container" >

        <input type="button" id="wsTestBtn" value="ws测试" hidden> </input>

        <div id="online-cars">
<!--            车辆列表:  <input type="button" value="刷新" id="flush_online_cars"></input>-->
            <div id="cars_list" class="cars_list"></div>
        </div>
        </br>

        <div id='task-msgBox' class="msgBox">
            <h1 align="center">车辆控制</h1>
            <p>目标车辆: <input type="text" id="taskCarId" disabled="disabled"/></p>
            <p>当前状态: <input type="text" id="taskCarState" value="unknown" disabled="disabled"/></p>
            <p>目标路径:
                <select id="pathList">
                    <option value="empty">--------</option>
                </select>
                <input type="button" id="getPathListBtn" value="刷新"> </input>
                <input type="button" id="getPathBtn" value="查看"> </input>
            </p>
            <p>目标速度:
                <select id="taskTargetSpeedList">
                    <option value="3">3km/h</option>
                    <option value="5">5km/h</option>
                    <option value="10">10km/h</option>
                </select>
            </p>
            <div>
                <input type="button" id="stopCurrentTask"  value="终止当前任务">
                <input type="button" id="startNewTask"  value="启动新任务">
                <input type="button" id="closeMsgBox" value="关闭">
            </div>
            <p id="msgBoxInfomation"></p>
        </div>

        <div id='state-msgBox' class="msgBox">
            <h1 align="center">车辆状态</h1>
            <p>目标车辆: <label id="stateCarId"></label></p>
            <p>任务状态: <label id="stateCarTask"></label></p>
            <p>当前车速: <label id="stateCarSpeed"></label></p>
            <p>当前档位: <label id="stateCarGear"></label></p>
            <p>剩余电量: <label id="stateCarSoc"></label></p>
            <p>系统就绪: <label id="stateBaseReady"></label></p>
            <p>当前模式: <label id="stateCurrentMode"></label></p>
        </div>


    </div>

    <!-- 地图盒子 -->
    <div id="baidumap_container" class="map">
        <!-- 百度地图API -->
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=NVVLTLnfXVsyPAoBl489wIYiZwrnB0RW&services=true"></script>
        <script src="/static/autodrive/js/mapcontroller.js"></script>

        <!-- 搜索显示框 -->
        <div id="r-result" hidden>
            地址: <input id="cityName" type="text" style="width:100px; margin-right:10px;" />
            <input type="button" value="搜索" onclick="window.mapctrler.locationSearch()" /> 经度:
            <input type="text" id="lng" /> 纬度：
            <input type="text" id="lat" />
            <button onclick="submit()">提交</button>
        </div>
    </div> <!-- end baidumap_container -->
    <!-- Content -->
    <div id="other_container" hidden>
        <h1 align="center" >调试信息显示窗口</h1>
        <div hidden>
            用户名: <input id="username" type="text" value="" required="required">
            密码: <input id="password" type="password" value="" required="required">
            <button id="connectBtn"  name="connect">连接</button>
            </br>
        </div>
        websocket状态: <i id="loginInfo"></i> </br>

        <div id="debug_textarea">
            数据接收:</br>
            <textarea type="text" id="receive_log" rows="20"></textarea></br></br>
            数据发送:</br>
            <textarea type="text" id="send_log" rows="5"></textarea>
            发送测试数据:</br>
            <input type="text" id="ws_test_data" width="100%"></input></br>
            <button id="wsSendBtn">发送</button>
        </div>
    </div><!-- END Content -->
</div><!-- END Man Container -->

</body>
</html>