<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点赞</title>
    <style type="text/css">
    #AddLike_div {width:19%;min-width:300px;float:left;}
    #VoteNumStat_div {width:6%;min-width:100px; float:left;}
    #IncludePage_div {width:73%; float:right;}
    </style>

</head>
<body>
<div>
    <div id="AddLike_div">
        点赞成功次数: <input type="number" id="successCnt" value="0"/> </br>
        点赞失败次数： <input type="number" id="failCnt" value="0"/> </br>
        点赞目标id: <input id="likeTargetId_" value="90" style="width:55px"/>
        目标排名: <input id="targetRank_" value="10" style="width:50px"/> </br>
        当前票数: <input id="voteNum_" style="width:70px"/>
        当前排名: <input id="voteRank_" style="width:50px"/></br>

        token： <input id="token" style="width:270px"/></br>
        点赞间隔(ms)： <input id="interval" type="number" value="100"/></br>
        累计自动停止： <input id="maxCnt_" type="number" value="-1" onchange="maxCntchanged()"/></br>
        运行状态: <input id="nowStat_" value="stop"/></br>

        <button onclick="startAutoZan()">开始点赞</button> &nbsp;&nbsp;
        <button onclick="stopAutoZan()">停止点赞</button> &nbsp;&nbsp;
        <button onclick="flushIframe()">刷新右侧页面</button> </br></br>
        <i>1. 表单数据修改后需要重新点击开始 </i></br>
        <i>2. 间隔时间不可设置过小</i></br>
        <i>3. 如失败频率较高, 建议调大间隔</i></br>
    </div>

    <div id="VoteNumStat_div"></div>

    <div id="IncludePage_div">
<!--         ifreme 内嵌页面-->
        <iframe src="http://my-h5news.app.xinhuanet.com/h5activity/huihuangbainian/vote-pc.html"
                id="addLikeFrame"  width="100%" height="850"> </iframe>
    </div>



</div>

<!--引入jquery 不能使用<script /> ,只能使用<script  ></script>-->
<script type="text/javascript" src="/static/bookstore/js/jquery-3.6.0.min.js"></script>


<script>
var vote_clockid = null; //定时器
var update_clockid = null;
var likeCnt = 0;    //成功次数
var maxLikeCnt = -1;//最大点赞次数
var randomToken = create_deviceToken();
var likeTargetId = 90;  //点赞目标
var targetRank = 10;
var nowRank = 0;

$(document).ready(function(e){
   update_clockid = window.setInterval("updateCallback()",1000);
   updateCallback();

});

function flushIframe(){
    //ifream src为本站链接时
    // addLikeFrame.contentWindow.location.reload();
    //document.getElementById('addLikeFrame').contentWindow.location.reload(true);

   // 外站链接
   $("#addLikeFrame").attr('src', addLikeFrame.src);

}

// 开始循环点赞
function startAutoZan(){
    targetRank = targetRank_.value;
    likeTargetId = likeTargetId_.value;
    if(interval.value < 100)
        interval.value = 100;
    vote_clockid = window.setInterval("voteCallback()",interval.value);
    nowStat_.value = "running";
}

// 停止循环点赞
function stopAutoZan(){
    vote_clockid = window.clearInterval(vote_clockid);
    nowStat_.value = "stop";
}

// 最大点赞次数变化
function maxCntchanged(){
    maxLikeCnt = parseInt(maxCnt_.value);
}

// 生成统一生成自定义deviceToken
// 格式 时间戳 + 6位随机数/platform
function create_deviceToken() {
    var time = new Date().getTime();
    var random = ('0000000000000000' + Math.floor(Math.random() * 9999999999999999)).slice(-16);
    var platform = 'h5';
    var index = Math.floor(Math.random()*3)
    if (index == 0) {
        platform = 'weixin';
    } else if (index == 1) {
        platform = 'qq';
    } else if (index == 2) {
        platform = 'weibo';
    }

    var deviceToken = time + '_' + random + '_' + platform;
    return deviceToken;
}

// 定时点赞
function voteCallback(){

    if(targetRank >= nowRank)
        return;

    if(maxLikeCnt > 0 && likeCnt > maxLikeCnt)
        stopAutoZan();

    var random = Math.random();
    var cnt = 0;

    // 同一token使用超限或者随机进行更新token
    if (cnt ==10 || random > 0.5){
        cnt = 0;
        randomToken = create_deviceToken();
        token.value = randomToken;
    }
    getZan();
}

function updateCallback(){
    getCurrentInfo();
}

<!--document.getElementById('addLikeFrame').onload=function(){-->
<!--    frame = frames["addLikeFrame"];-->
<!--}-->

function getCookie() {
    var cookieMessage = document.cookie;
    var cookieObj = {};
    if (cookieMessage) {
        var strs = cookieMessage.split("; ");
        for (var i = 0; i < strs.length; i++) {
            var key_value = strs[i].split("=");
            cookieObj[key_value[0]] = unescape(key_value[1]);
            // cookieObj[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
        }
    }
    return cookieObj;
};

var httpRequest = function (obj) {
    //var cookies = getCookie();

    var async = false; // 是否异步
    if (typeof (obj.async) === 'undefined') {
        async = true;
    } else {
        async = Boolean(obj.async);
    }
    var data = obj.data || {};

    var headers = {
        'device-token': randomToken,
        'version': "8.7.2" || '',
        // 'platform': cookies['xhw_platform'] || 'h5',
        'platform': 'h5',
    };

    //if (cookies['xhw_auth_sign']) {
    //    headers['user-uuid'] = cookies['xhw_auth_sign'];
    //}

    return $.ajax({
        url: obj.url,
        type: obj.type || 'GET',
        headers: headers,
        async: async,
        dataType: 'json',
        timeout:90000,
        data: data
    })
};

function getZan() {
    httpRequest({
        url: "http://my-api.app.xinhuanet.com//vote/vote",
        type: 'post',
        data: {
            voteUuid: '8d3a88ba9120401d9bcec085c30fd3f9',
            optionId: likeTargetId,
        }
    }).done(function (res) {
        if (res.code == 200) {
            if(res.data.result === 1){
                likeCnt += 1;
                successCnt.value = likeCnt;
            }
            else
                failCnt.value = parseInt(failCnt.value) + 1;
        }else{
            failCnt.value = parseInt(failCnt.value) + 1;
        }

    })
}

function getCurrentInfo(){
    httpRequest({
        url: "http://my-api.app.xinhuanet.com//vote/ext/list",
        type: 'post',
        data: {
            uuid: '8d3a88ba9120401d9bcec085c30fd3f9',
        }
    }).done(function (res) {
        if (res.code == 200 && res.msg == "OK") {
            //从大到小
            res.data.sort(function(a,b){
			    return b.voteNum - a.voteNum;
		    });
<!--            console.log(JSON.stringify(res.data));-->

		    candidatesInfo = res.data;

            divStr = "<table border='1'> <tr> <th>排名</th> <th>ID</th> <th>票数</th> </tr>";
            for(let i=0; i<candidatesInfo.length; i++){
                candidateInfo =  candidatesInfo[i];

                divStr += "<tr>";
                divStr = divStr + "<td>"+ (i+1) +"</td>"
                divStr = divStr + "<td>"+candidateInfo.id+"</td>"
                divStr = divStr + "<td>"+candidateInfo.voteNum+"</td>"

                divStr += "</tr>";

                if(candidateInfo.id == parseInt(likeTargetId)){
                    voteNum_.value = candidateInfo.voteNum;
                    voteRank_.value = nowRank = i+1;
                    break;
                }

            }
            divStr += "</table>";
            VoteNumStat_div.innerHTML = divStr;
        }else{

        }

    })


}




</script>

</body>
</html>